:root{
    --primary-color :#2874f0;
    --secondary-color : white;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: rgba(241, 238, 238, 0.815);
}
 header{
    display: flex;
    justify-content: space-between;
    background-color: var(--primary-color);
    width: 100%;
    height: 60px;
    padding: 5px;
 }
.header1{
    color: var(--secondary-color);
    font-size: 12px;
    font-style: italic;
}
.header-font{
    font-size: 7px;
    color: var(--secondary-color);
    text-decoration: none;
    font-style: italic;
    
    
}
.header-font-right{
    font-size: 12px;
    padding-top: 10px;
}
.header-font-color{
    color: var(--secondary-color);
    text-decoration: none;
}
.font-right-plus{
    font-size: 6px;
    color: yellow;
    font-style: italic;
}
.header-input{
    border: 1px solid white;
    height: 30px;
    width: 200px;
    margin-top: 5px;
    border-radius: 3px;
}
.items-list{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
    width: 100%;
    height: auto;
    margin-top: 5px;
    text-align: center;
    font-size: 7px;
    color: rgb(85,83,83);
    
    
}
.items-list1{
    width: 30px;
    height: 30px;
}
.slider{
    width: 100%;
    height: 120px;
}
    /* margin: 0 auto;
    background: url(images/main-image.jpg);
    animation-fill-mode: forwards;
    animation: slide 20s infinite;


    
}
@keyframes slide {
    25%{
        background: url(images/slider-1.jpg);
    }
    50%{
        background: url(images/slider-2.jpg);
    }
    75%{
        background: url(images/slider-3.jpg);
    }
    100%{
        background: url(images/slider-1.jpg);
    } */
.brand-store{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 1px;
    background-color: var(--secondary-color);
}
.brand-image{
    background-color: var(--secondary-color);

    font-size: 7px;
    text-align: center;
    margin-top: 5px;
    margin-left: 5px;
}
.brand-image1{
    width: 60px;
    height: 70px;
}
.brand-font{
    color: black;
    font-weight: bold;
}
.brand-desc{
    color: rgb(85,83,83));

}
.sale{
    width: 28%;
    height: 140px;
    float: right;
    margin-top: -140px;
    
}
.deals-font{
    font-size:0.8rem;
    display:inline-block;
    margin-left: 10px;
}
.deals-color{
    background-color: white;
   
}
.deals-font-button{
    width: 70px;
    height: 20px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    margin-left: 80px;
    border-style:1px solid;
    border: transparent;
    font-size: 10px;
    font-weight: lighter;
    margin-bottom: 5px;
}
.center-section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    object-fit: cover;
    margin-top: 10px;
    
}
.center-section1{
    width: 120px;
    height: 100px;

}
.selection-font{
    font-size:0.8rem;
    display:inline-block;
    margin-left: 10px;
}
.selection-color{
    background-color: white;
    margin-bottom: 3px;
   
}
.selection-font-button{
    width: 70px;
    height: 20px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    margin-left: 180px;
    border-style:1px solid;
    border: transparent;
    font-size: 10px;
    font-weight: lighter;
    margin-bottom: 5px;
}
.bottom-container{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    background-color: var(--secondary-color);
    margin-bottom: 5px;
}
.top-selection1{
    width: 90px;
    height: 120px;
}
.top-selection-font{
    color: black;
    font-weight: bold;
    font-size: 10px;
}
.trending-font{
    font-size:0.8rem;
    display:inline-block;
    margin-left: 10px;
}
.trending-color{
    background-color: white;
    margin-bottom: 3px;
   
}
.trending-font-button{
    width: 70px;
    height: 20px;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    margin-left: 180px;
    border-style:1px solid;
    border: transparent;
    font-size: 10px;
    font-weight: lighter;
    margin-bottom: 5px;
}
.bottom-container1{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    background-color: var(--secondary-color);
}
@media(min-width:768px){
 header{
     height: 80px;
   }
   .header1{
       font-size: 23px;
       padding-left: 30px;
       padding-top: 10px;
   }
   .header-font{
       font-size: 1rem;
   }  
   .font-right-plus{
       font-size: 1rem;
   }
   .header-input{
    width: 400px;
    height: 50px;
    font-size: 1.5rem;
   }
   .header-font-right{
       font-size: 1.2rem;
       padding-top: 20px;
   }
   .items-list{
       font-size: 0.9rem;

   }
   .items-list1{
       width: 50px;
       height: 50px;
   }
   .slider{
       height: 300px;
       object-fit: cover;
   }
   .brand-image{
       font-size: 1.2rem;

   }
   .brand-image1{
       width: 100px;
       height: 100px;
   }
   .brand-desc{
       font-size: 1rem;
   }
   .sale{
       width: 29%;
       height: 260px;
       margin-top: -260px;
   }
   .deals-font{
       font-size: 1.5rem;
       padding-left: 10px;
   }
   .deals-font-button{
       height: 40px;
       width: 100px;
       border-radius: 2px;
       margin-left: 230px;
       margin-top: 2px;
       font-size: 0.9rem;
   }
   .center-section1{
       width: 250px;
       height: 150px;
   }
   .selection-font{
       font-size: 1.5rem;
   }
   .selection-font-button{
       width: 100px;
       height: 40px;
       margin-left: 420px;
       border-radius: 2px;
       font-size: 0.9rem;
       margin-top: 3px;
   }
   .top-selection1{
       width: 190px;
       height: 200px;
   }
   .trending-font{
       font-size: 1.5rem;
   }
   .trending-font-button{
    width: 100px;
    height: 40px;
    margin-left: 420px;
    border-radius: 2px;
    font-size: 0.9rem;
    margin-top: 3px;
   }
   .top-selection-font{
       font-size: 1.2rem;
   }
}
@media(min-width:1024px){
    header{
        height: 100px;
    }
    .header1{
        font-size: 30px;
        padding-left: 70px;
    }
    .header-font{
        font-size: 1.3rem;
        padding-top: 0px;
    }  
    .font-right-plus{
        font-size: 1.3rem;
    }
    .header-input{
        width: 550px;
        height: 70px;
        font-size: 1.8rem;
    }
    .header-font-right{
        font-size: 1.6rem;
        padding-top: 20px;
    }
    .items-list{
        font-size: 1.2rem;
 
    }
    .items-list1{
        width: 80px;
        height: 80px;
    }
    .slider{
        height: 400px;
        object-fit: cover;
    }
    .brand-image{
        font-size: 1.5rem;
 
    }
    .brand-image1{
        width: 180px;
        height: 180px;
    }
    .brand-desc{
        font-size: 1.5rem;
    }
    .sale{
        width: 29%;
        height: 350px;
        margin-top: -350px;
    }
    .deals-font{
        font-size: 2.1rem;
        padding-left: 20px;
    }
    .deals-font-button{
        height: 60px;
        width: 140px;
        border-radius: 2px;
        margin-left: 300px;
        margin-top: 2px;
        font-size: 1.4rem;
    }
    .center-section1{
        width: 450px;
        height: 250px;
    }
    .selection-font{
        font-size: 2.1rem;
        padding-left: 50px;
    }
    .selection-font-button{
        width: 140px;
        height: 60px;
        margin-left: 920px;
        border-radius: 2px;
        font-size: 1.4rem;
        margin-top: 3px;
    }
    .top-selection1{
        width: 340px;
        height: 270px;
    }
    .trending-font{
        font-size: 2.1rem;
        padding-left: 50px;
    }
    .trending-font-button{
     width: 140px;
     height: 60px;
     margin-left: 920px;
     border-radius: 2px;
     font-size: 1.4rem;
     margin-top: 3px;
    }
    .top-selection-font{
        font-size: 1.5rem;
    }
    .center-section{
        margin-bottom: 7px;
    }





}


    